<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <header>
      <h1>Assignment: Your First (Several) Asynchronous Requests</h1>
    </header>
    <section id='step12'>
      <h2>Step 1 and 2</h2>
      <button id='run_request'>Run AJAX Request to Root</button>
    </section>
    <section id='step3456'>
        <h2>Step 3, 4, 5, 6</h2>
        <button id='pingpong_request'>Run AJAX Request to Ping/Pong</button>
    </section>
    <section id='step7'>
        <h2>Step 7</h2>
        <button id='count_request'>Run AJAX Request to Count</button>
    </section>
    <section id='step8'>
        <h2>Step 8</h2>
        <button id='time_request'>Run AJAX Request to Time</button>
    </section>
    <section id='step9'>
        <h2>Step 9</h2>
        <button id='car_request'>Run AJAX Request to A Car</button>
    </section>
  </body>
</html>
